.container-two .swiper-wrapper {
  display: flex;
  justify-content: flex-start;
}

.container-two .swiper-slide {
  width: 11.5rem !important;
  padding: 1rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  border-radius: 1rem;

  @media screen and (min-width: 768px) {
    width: 12rem !important;
  }
}
