.container-two .swiper-wrapper {
  display: flex;
  justify-content: flex-start;
  height: 18rem;
}

.container-two .swiper-slide {
  width: 13.5rem !important;

  @media screen and (min-width: 768px) {
    width: 14rem !important;
  }
}
